.register-container {
  display: flex;
  justify-content: center;
  padding: 24px;
  margin-top: 80px; 
}

.brand-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brant-name {
  font-size: 24px;
  font-weight: bold;
  margin-left: 8px;
}



.illu {
  position: fixed;
  bottom: 0;
  width: 70vh;
  opacity: 0.7;
  pointer-events: none;
  z-index: 0;
}

.illu-left { left: 0; }
.illu-right { right: 0; }

mat-card {
  width: 360px;
  padding: 16px;
  position: relative;
  z-index: 1;
  border-radius: 0px;
}

.full-width {
  width: 100%;
}

.error {
  color: #c62828;
  margin-left: 12px;
}

.links {
  margin-top: 12px;
  display: flex;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}