<mat-card class="card-container" appearance="raised">
  <img mat-card-image src="/assets/images/illustrations/tableau-illu.svg">
  <mat-card-content class="card-content">
        <h4>Organize everything</h4>
        <span>Centralize everything and increase productivity with your first EpiTrello board !</span>
        <button matButton="filled" class="create-btn">Create a workspace board</button>
        <span class="link-button">I got it! Close this tip.</span>
  </mat-card-content>
</mat-card>
