<mat-card class="panel-container" appearance="raised">
  <div class="panel-header">
    <div class="title">Create board</div>
    <button mat-icon-button (click)="cancel()" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Board title *</mat-label>
    <input matInput [(ngModel)]="title" required />
    @if (!title.trim()) {
      <mat-hint>Board title is required</mat-hint>
    }
  </mat-form-field>

  <div class="actions">
    <button mat-stroked-button class="simple-button" (click)="cancel()">Cancel</button>
    <button mat-stroked-button class="simple-button" color="primary" [disabled]="!title.trim()" (click)="create()">Create</button>
  </div>
</mat-card>
