.card-container {
  width: 600px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;
}

.create-btn {
    border-radius: 8px;
}

.link-button {
    text-decoration: underline;
    cursor: pointer;
    border-radius: 8px;
  
    &:hover {
        text-decoration: none;
    }
}