.boards-container {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boards-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
  margin-left: 16px;
}

.boards-header-icon {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.boards-header-title {
  font-weight: 500;
  font-size: 14px;
  color: var(--mat-sys-on-surface);
}

.no-boards {
  color: #666;
  margin: 16px 0;
}

.boards-grid {
  width: 100%;
  background-color: #f5f5f5;

}

.board-card {
  cursor: pointer;
  margin: 8px;
  border-radius: 10px;
  overflow: hidden;
  width: 100% !important;
}

.card-icon {

}

.card-footer {
  background: #fff;
  padding: 10px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.card-title {
  font-size: 14px;
  color: var(--mat-sys-on-surface);
}